<!DOCTYPE html>
<html>
<head>
<title> Login </title>
</head>
<body>
<div="col-lg-9">
<center>
<h1>
	Login to CHAT WINDOW
</h1>

<div>
	<form action='/user/api/v1/login' method="post" id="FORM_4">
		<div>
			<div>
				<input type="email" name="email" placeholder="Email" id="INPUT_8" />
			</div>
			<div>
				<input type="password" name="password" placeholder="Password" id="INPUT_10" />
			</div>
		</div>
		<div>
			<button type="submit" id="BUTTON_13">
				Login
			</button><br/>
			<div>
				<a href="/user/signup" id="A_18">
					New to Chat Window? Create an account..!
				</a>
			</div>
		</div>
	</form>
</div>
</center>
</div>
</body>
</html>