<!DOCTYPE html>
<html lang="en">
<head>
  <title> Messages </title>
</head>
<body>
  <main>

    <p>MESSAGE FOR YOU.</p>
    <p> <%= msg %> </p><br>
    <p> <%= status %> </p><br>
    <p> <%= error %> </p><br>

  </main>
</body>
</html>