<!DOCTYPE html>
<html>
<head> <title> Singup Form </title>
</head>
<body>
<div="col-lg-9">
<center>
<h1 > Chat Window </h1>
<div>
	<form action='/user/api/v1/newuser/create' method="post" id="FORM_4">
		<h2>Sign UP</h2>
		<div id="DIV_6">
      <div>
				<input type="text" name="username" placeholder="UserName" id="INPUT_8" />
			</div>
			<div>
				<input type="email" name="email" placeholder="Email" id="INPUT_8" />
			</div>
			<div>
				<input type="password" name="password" placeholder="Password" id="INPUT_10" />
      </div>
		</div>
		<div>
			<button type="submit" id="BUTTON1_13"> Signup </button><br/>
		</div>
	</form>
</div>
</center>
</div>
</body>
</html>